#rightNav {
  position: absolute;
  top: 45px;
  right: 0;
  width: 85px;
  height: calc(100% - 45px);
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 11px;
  color: #FFFFFF;
  text-align: center;
  z-index: 10;
  overflow: hidden;
}

#rightNavSwitch {
  margin: 14px 0 25px;
}

.rightNavItem {
  /* display: none; */
  width: 49px;
  height: 79px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.rightNavItem1 {
  width: 49px;
  height: 79px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.rightNavItem:first-child {
  margin-top: 10px;
}

.rightNavItem img {
  width: 47px;
  height: 47px;
}

.rightNavItem img:hover {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  opacity: 0.7;
  box-shadow: 0 0 4px #FFFFFF;
  cursor: pointer;
}

.rightNavItem img {
  margin-bottom: 8px;
}
