#emerWarning {
  position: absolute;
  right: 65px;
  bottom: 0;
  width: 280px;
  height: 150px;
  background-color: #072958;
  font-size: 14px;
  color: #fff;
  padding: 10px 11px 0 8px;
  overflow: hidden;
  z-index: 1;
}

#warningTitle {
  width: 313px;
  height: 36px;
  background-image: url(../../../../public/images/emer/title.png);
  padding-left: 41px;
  margin-left: -41px;
}



#warningTitle span {
  display: inline-block;
}

#wt_1 span {
  height: 36px;
  line-height: 36px;
  margin-left: 16px;
}

#wt_1 img {
  position: relative;
  top: -1px;
}

#wt_2 {
  width: 88px;
  height: 22px;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #188FFE;
  margin-left: 61px;
  padding: 0 9px;
}

#wt_2 img {
  margin-right: 10px;
  position: relative;
  top: -1px;
}

#wt_2:hover {
  box-shadow: 0 0 2px #fff;
  opacity: 0.9;
}

#wt_3 {
  margin-left: 16px;
}

#wt_3:hover {
  opacity: 0.75;
}

#warningInfo {
  margin-top: 11px;
}

#warningInfo span {
  display: block;
}

#warningInfo .wi {
  margin-top: 8px;
  margin-left: 14px;
}

#warningInfo .wi {
  color: #f00;
}

#warningInfo .wi:last-child {
  margin-top: 5px;
  color: #fff;
}

